%div.row
  =link_to "新建板块", new_admin_blog_tab_path, class: "button small radius"

%div.row
  %table
    %thead
      %tr
        %th 名字
        %th 类型
        %th 排序
        %th 动作
    %tbody
      - @blog_tabs.each do |blog_tab|
        %tr
          %td{width: "200"}
            = blog_tab.title
          %td{width: "200"}
            = show_tab_type(blog_tab.tab_type)
          %td{width: "100"}
            = blog_tab.sort
          %td{width: "200"}
            =link_to "编辑", edit_admin_blog_tab_path(blog_tab), class: "margin_right_10"
            = "|"
            =link_to "删除", admin_blog_tab_path(blog_tab), method: "delete", confirm: "你确认删除吗？", class: "margin_left_10"

