%div.row
  %h1 Grant's Blog
%div.row
  %section.top-bar-section
    %nav.top-bar
      %ul.left
        %li{:class => tabs_class("blogs")}
          = link_to "主页", root_path
        - @blog_cats.each do |blog_cat|
          %li{:class => tabs_class("blogs", blog_cat.id)}
            = link_to blog_cat.title, "#{blogs_path}?cat_id=#{blog_cat.id}"