%div.row
  %h1 博客后台管理
  = link_to "登出", "/admin/logout", class: "right inline small button logout"
%div.row
  %section.top-bar-section
    %nav.top-bar
      %ul.left
        %li{:class => admin_tabs_class("admin/blogs")}
          = link_to "文章管理", admin_blogs_path
        %li{:class => admin_tabs_class("admin/blog_templates")}
          = link_to "文章模板管理", admin_blog_templates_path
        %li{:class => admin_tabs_class("admin/blog_cats")}
          = link_to "文章板块管理", admin_blog_cats_path